@page "/diagnostic/logs"
@using System.IO
@using Microsoft.Extensions.Localization
@inherits BaseGrowComponent
@attribute [Authorize]
@inject IStringLocalizer<AppResources> Localizer

<div class="container">
    <div class="row">
        <div class="col">
            <h1>@Localizer["Application logs"]</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><NavLink href="/">@Localizer["Home"]</NavLink></li>
                    <li class="breadcrumb-item active" aria-current="page">@Localizer["Logs"]</li>
                </ol>
            </nav>
            <div class="card mt-4">
                <div class="card-body">
                    @if (IsLoading)
                    {
                        <div class="spinner-border mx-auto d-block" role="status">
                            <span class="sr-only">@Localizer["Loading"]...</span>
                        </div>
                    }

                    <BSTabGroup>
                        <BSTabList>
                            <BSTab>
                                <BSTabLabel>@Localizer["Log history"]</BSTabLabel>
                                <BSTabContent>
                                    @if (LogsGroups != null && LogsGroups.Any())
                                    {
                                        <div class="accordion mt-4">
                                            @foreach (var dailyLog in LogsGroups)
                                            {
                                                <BSCard CardType="CardType.Card">
                                                    <BSCard CardType="CardType.Header">
                                                        <div class="d-flex justify-content-between">
                                                            <BSButton ButtonType="ButtonType.Button" OnClick="@((e)=>AccordionClick(e,dailyLog))" Color="Color.None" Class="btn-link">@dailyLog.Date.ToString("dd MMMM yyyy (dd.MM.yyyy)")</BSButton>
                                                            <a href="/common/DownloadLogFile?name=@dailyLog.Logs.FileName" class="btn btn-secondary btn-sm"><i class="fa fa-download"></i></a>
                                                        </div>
                                                    </BSCard>
                                                    <BSCollapse IsOpen="@dailyLog.IsOpen">
                                                        <BSCard CardType="CardType.Text">
                                                            <div class="p-4 mt-4 bg-dark text-white">
                                                                <span class="h3 mb-3">@dailyLog.Logs.FileName</span>
                                                                <div class="overflow-auto" style="max-height: 350px;">
                                                                    <p class="text-monospace text-white">
                                                                        @{
                                                                            try
                                                                            {
                                                                                dailyLog.Logs.Content = !string.IsNullOrEmpty(dailyLog.Logs.Content) ? dailyLog.Logs.Content : ReadFile(dailyLog.Logs.Path);
                                                                                <text>@((MarkupString)dailyLog.Logs.Content)</text>
                                                                            }
                                                                            catch (Exception ex)
                                                                            {
                                                                                <text>@ex.Message</text>
                                                                            }
                                                                        }

                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </BSCard>
                                                    </BSCollapse>
                                                </BSCard>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div>@Localizer["No logs found"]</div>
                                    }
                                </BSTabContent>
                            </BSTab>
                            <BSTab>
                                <BSTabLabel>@Localizer["Real time"]</BSTabLabel>
                                <BSTabContent>
                                    <div class="row my-4">
                                        <div class="col-auto">
                                            @if (IsStreaming)
                                            {
                                                <button class="btn btn-danger btn-sm" type="button" @onclick="@((e)=>StopStreamLog())"><i class="fa fa-stop"></i> @Localizer["Stop"]</button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-success btn-sm" type="button" @onclick="@((e)=>StartLogStream())"><i class="fa fa-play"></i> @Localizer["Start"]</button>
                                            }
                                            <button class="btn btn-secondary btn-sm" type="button" @onclick="@((e)=>ClearStreamLog())"><i class="fa fa-brush"></i> @Localizer["Clear"]</button>
                                        </div>
                                    </div>
                                    <div class="real-time-output">
                                        @RealTimeLogs
                                    </div>
                                </BSTabContent>
                            </BSTab>

                        </BSTabList>
                        <BSTabSelectedContent />
                    </BSTabGroup>




                </div>
            </div>
        </div>
    </div>
    <VersionDisplay />

</div>
