@page "/config"
@using GrowIoT.Interfaces
@inject IIoTConfigService IoTConfigService

@inherits ConfigViewBase
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><NavLink href="/">@Localizer["Home"]</NavLink></li>
                        <li class="breadcrumb-item active" aria-current="page">@Localizer["Config"]</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>ConfigView</h3>
                @if (Config == null)
                {
                    <h4>No config available</h4>

                }
            </div>
        </div>
        @if (Config != null)
        {
            <div class="row">
                <div class="col">
                    Port: @Config.ListeningPort<br />
                    Version: @Config.CurrentVersion<br />
                </div>
            </div>

        }
        <div class="row mt-3 justify-content-center">
            <div class="col-12 col-md-8">
                <div class="card">
                    <EditForm Model="@Box" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Title">Title</label>
                                <InputText id="Title" @bind-Value="Box.Title" aria-describedby="titlehelp" class="form-control" />
                                <ValidationMessage For="@(()=>Box.Title)" class="text-danger" />
                                <small id="titlehelp" class="form-text text-muted">Enter growbox title.</small>
                            </div>
                            <div class="form-group">
                                <label for="Description">Description</label>
                                <InputTextArea id="Description" @bind-Value="Box.Description" aria-describedby="descriptionHelp" class="form-control" />
                                <ValidationMessage For="@(()=>Box.Description)" class="text-danger"></ValidationMessage>
                                <small id="descriptionHelp" class="form-text text-muted">Enter growbox description.</small>
                            </div>
                            <div class="form-group">
                                <label for="Address">Address</label>
                                <InputText id="Address" @bind-Value="Box.Address" aria-describedby="Addresshelp" class="form-control" />
                                <ValidationMessage For="@(()=>Box.Address)" class="text-danger" />
                                <small id="Addresshelp" class="form-text text-muted">Enter IP address.</small>
                            </div>
                            <div class="form-group">
                                <label for="Port">Port</label>
                                <InputText id="Port" @bind-Value="Box.PortStr" type="number" aria-describedby="Porthelp" class="form-control" />
                                <ValidationMessage For="@(()=>Box.PortStr)" class="text-danger" />
                                <small id="Porthelp" class="form-text text-muted">Enter port.</small>
                            </div>
                            @if (IsLoading)
                            {
                                <div class="row">
                                    <div class="col text-center">
                                        <div class="spinner-border text-dark" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <NavLink href="/" class="btn btn-secondary">Cancel</NavLink>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </EditForm>
                </div>


            </div>
        </div>
    </div>


