@page "/iotcomponents"
@using FourTwenty.Core.Data.Interfaces
@using FourTwenty.IoT.Connect.Entities
@using Microsoft.Extensions.Localization
@attribute [Authorize]
@inherits IoTComponentsBase
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><NavLink href="/">@Localizer["Home"]</NavLink></li>
                    <li class="breadcrumb-item active" aria-current="page">@Localizer["Components"]</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row align-content-center">
        <div class="col">
            <h3>@Localizer["IoT Components"]</h3>
        </div>
        <div class="col-auto">
            <NavLink class="btn btn-primary" href="iotcomponents/create">@Localizer["Add component"]</NavLink>
        </div>
    </div>
    <div class="row">
        @if (Modules == null || !Modules.Any())
        {
            <div class="col">
                <h4>@Localizer["No data"]</h4>
            </div>
        }
        else
        {
            foreach (var module in Modules)
            {
                <div class="col-12 col-md-4">
                    <div class="card">
                        <div class="card-header">@module.Name</div>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">@module.Type</h6>
                            @if (!string.IsNullOrEmpty(module.CurrentValue))
                            {
                                <p class="card-text">@((MarkupString)module.CurrentValue)</p>
                            }
                            <p class="card-text"><b>Pin(s):</b>@string.Join(",", module.Pins).</p>
                        </div>
                        <div class="card-footer text-muted">
                            <a class="btn btn-dark btn-sm" href="/iotcomponents/control/@(module.Id)">@Localizer["Control"] <i class="fas fa-chart-area"></i></a>
                            <a class="btn btn-info btn-sm" href="/iotcomponents/@(module.Id)">@Localizer["Edit"] <i class="fa fa-edit"></i></a>
                            <button class="btn btn-danger btn-sm" @onclick="@((e)=>Delete(module))">@Localizer["Delete"] <i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
