@page "/iotcomponents/data/{Id:int}"
@using Microsoft.Extensions.Localization
@using Syncfusion.Blazor.Charts
@inherits BaseGrowComponent
@attribute [Authorize]
@inject IStringLocalizer<AppResources> Localizer

<div class="container">
    <div class="row">
        <div class="col">
            <h1>@Localizer["Component control"]</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><NavLink href="/">@Localizer["Home"]</NavLink></li>
                    <li class="breadcrumb-item"><NavLink href="/iotcomponents">@Localizer["Components"]</NavLink></li>
                    <li class="breadcrumb-item active" aria-current="page">@Localizer["Component data"]</li>
                </ol>
            </nav>
            <div class="card mt-4">
                <div class="card-body">
                    @if (IsLoading)
                    {
                        <div class="spinner-border mx-auto d-block" role="status">
                            <span class="sr-only">@Localizer["Loading"]...</span>
                        </div>
                    }
                    <div class="row">
                        <div class="col-12 text-center ">
                            <h3>@Localizer["Real-time data"]</h3>
                            <div class="d-flex flex-column justify-content-center align-content-center">
                                <SfChart @ref="HistoryChart"
                                         Width="100%"
                                         Height="450px">
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" />

                                    <ChartTooltipSettings Enable="true" Format="${series.name} ${point.x} : ${point.y}">
                                    </ChartTooltipSettings>

                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@HistoryData" XName="X" YName="Y" PointColorMapping="Color" Type="@ChartType">
                                            <ChartMarker Visible="true" Height="5" Width="5">
                                                <ChartDataLabel Visible="true" Name="Text">
                                                </ChartDataLabel>
                                            </ChartMarker>
                                        </ChartSeries>
                                        <ChartSeries DataSource="@HistoryData" XName="X" YName="Y2" PointColorMapping="Color2" Type="@ChartType">
                                            <ChartMarker Visible="true" Height="5" Width="5">
                                                <ChartDataLabel Visible="true" Name="Text2">
                                                </ChartDataLabel>
                                            </ChartMarker>
                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                </SfChart>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

