@page "/iotcomponents/create"
@page "/iotcomponents/{Id:int}"
@using FourTwenty.IoT.Connect.Constants
@inherits IoTComponentBase

<style>
    .tooltip-inner {
        max-width: 100% !important;
    }
</style>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><NavLink href="/">@Localizer["Home"]</NavLink></li>
                    <li class="breadcrumb-item"><NavLink href="/iotcomponents">@Localizer["Components"]</NavLink></li>
                    <li class="breadcrumb-item active" aria-current="page">@(Id.HasValue ? $"Edit component {Module.Name}" : "Create component")</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>@(Id.HasValue ? $"Edit component {Module.Name}" : "Create component")</h3>
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-12 col-md-8">
            <div class="card">
                <EditForm Model="@Module" OnValidSubmit="OnSubmit">
                    <div class="card-body">
                        <DataAnnotationsValidator />
                        <div class="form-group">
                            <label for="moduleName">@Localizer["Module name"]</label>
                            <InputText type="text" @bind-Value="Module.Name" class="form-control" id="moduleName" aria-describedby="moduleNameHelp" />
                            <ValidationMessage For="@(()=>Module.Name)" class="text-danger"></ValidationMessage>
                            <small id="moduleNameHelp" class="form-text text-muted">@Localizer["Something that describes this component"]</small>
                        </div>
                        <div class="form-group">
                            <label for="moduleType">@Localizer["Select module type"]</label>
                            <select class="form-control" id="moduleType" @bind="Module.Type" aria-describedby="moduleTypeHelp">
                                @foreach (var type in Enum.GetNames(typeof(ModuleType)))
                                {
                                    <option value="@type">@type</option>
                                }
                            </select>
                            <ValidationMessage For="@(()=>Module.Name)" class="text-danger"></ValidationMessage>
                            <small id="moduleTypeHelp" class="form-text text-muted">@Localizer["Select type of module that you adding"]</small>
                        </div>
                        <div class="form-group">
                            <label for="pinCount">@Localizer["PIN's count"]</label>
                            <input type="number" min="1" class="form-control" id="pinCount" aria-describedby="pinCountHelp" @onchange="OnChanged" value="@Module.Pins.Length" />
                            <small id="pinCountHelp" class="form-text text-muted">@Localizer["Count of PIN's used in Raspberry"] <i class="fa fa-info-circle" id="tooltip5"></i></small>

                            <BSTooltip Target="tooltip5" Placement="Placement.Top"><img src="/images/raspberry_gpios.jpg" class="img-fluid w-100" /></BSTooltip>
                        </div>
                        <div class="row pin-container">
                            @if (Module.Pins != null)
                            {
                                for (var i = 0; i < Module.Pins.Length; i++)
                                {
                                    var local = i;
                                    <div class="col-6 col-md-3 mt-3">
                                        <label>GPIO #@local</label>
                                        <input type="number" class="form-control" min="2" max="27" placeholder="PIN number" @onchange="@(e=>PinInputChanged(e,local))" value="@Module.Pins[local]" />
                                    </div>
                                }
                            }
                        </div>
                        <div class="row mt-5 align-items-center">
                            <div class="col-8">
                                <h4>@Localizer["Rules"]</h4>
                            </div>
                            <div class="col">
                                <button class="btn btn-warning float-right" type="button" @onclick="AddRuleClicked">@Localizer["Add rule"]</button>
                            </div>
                            <div class="col-12 mt-4">
                                <div class="card">
                                    <div class="card-body">
                                        @if (Module.Rules != null && Module.Rules.Any())
                                        {
                                            <div class="list-group">
                                                @foreach (var rule in Module.Rules)
                                                {
                                                    @switch (rule.RuleType)
                                                    {
                                                        case RuleType.CronRule:

                                                            <div class="list-group-item list-group-item-action">
                                                                <div class="d-flex w-100 justify-content-between align-items-center">

                                                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                                        <label class="btn btn-secondary btn-sm @(rule.IsEnabled ? "active":"")">
                                                                            <input type="radio" name="options" id="onOption" checked="@rule.IsEnabled">ON
                                                                        </label>
                                                                        <label class="btn btn-secondary btn-sm @(!rule.IsEnabled ? "active":"")">
                                                                            <input type="radio" name="options" id="offOption" checked="@(!rule.IsEnabled)">OFF
                                                                        </label>
                                                                    </div>


                                                                    <span>@Localizer["Cron rule"] <small class="text-muted">@rule.Job</small></span>
                                                                    @if (rule.Pin.HasValue)
                                                                    {
                                                                        <br />
                                                                        <span>@Localizer["Pin"] <small class="text-muted">@rule.Pin.GetValueOrDefault()</small></span>
                                                                    }
                                                                    <div>
                                                                        <button class="btn text-info" @onclick="@((e)=>OnRuleClicked(rule))" type="button"><i class="fas fa-edit"></i></button>
                                                                        <button class="btn text-danger" @onclick="@((e)=>RemoveRule(rule))" type="button"><i class="fas fa-minus-circle"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            break;
                                                        default:
                                                            throw new ArgumentOutOfRangeException();
                                                    }
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="text-center">
                                                <span class="h4">@Localizer["No rules created yet"] <i class="fa fa-3x fa-sad-cry"></i></span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <NavLink href="iotcomponents" class="btn btn-secondary">Cancel</NavLink>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

<BSModal @ref="RuleModal">
    <EditForm Model="CurrentRule" OnValidSubmit="OnSubmitRule">
        <DataAnnotationsValidator />
        <BSModalHeader OnClick="@(() => RuleModal.Hide())">Rule</BSModalHeader>
        <BSModalBody>
            @if (Module.Pins.Length >= 2)
            {
            <div class="form-group">
                <label for="selectedPin" class="w-100">@Localizer["Select pin"]</label><br />
                <select class="form-control" id="selectedPin" @bind="CurrentRule.Pin" aria-describedby="selectedPinHelp">
                    @if (CurrentRule.Pins != null)
                    {
                        foreach (var pin in CurrentRule.Pins)
                        {
                            <option value="@pin">@pin</option>
                        }
                    }
                </select>
                <ValidationMessage For="@(()=>CurrentRule.Pin)" class="text-danger"></ValidationMessage>
                <small id="selectedPinHelp" class="form-text text-muted">@Localizer["Select the pin for which you are creating a job"]</small>
            </div>
            }

            <div class="form-group">
                <label for="radioRuleType" class="w-100">@Localizer["Select rule type"]</label><br />
                @foreach (var ruleType in Enum.GetNames(typeof(RuleType)))
                {
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline@(ruleType)" checked="@(CurrentRule.RuleType == Enum.Parse<RuleType>(ruleType))" name="radioRuleType" class="custom-control-input" @onchange="@((e)=>CurrentRule.RuleType = Enum.Parse<RuleType>(ruleType))">
                        <label class="custom-control-label" for="customRadioInline@(ruleType)">@ruleType</label>
                    </div>
                }
                <small id="ruleTypeHelp" class="form-text text-muted">@Localizer["Rule type. Currently only cron rule available"]</small>
            </div>
            @switch (CurrentRule.RuleType)
            {
                case RuleType.CronRule:
                    <div class="form-group">
                        <label for="jobType" class="w-100">@Localizer["Job type"]</label><br />
                        <select class="form-control" id="jobType" @bind="CurrentRule.Job" aria-describedby="jobTypeHelp">
                            @foreach (var type in Enum.GetNames(typeof(JobType)))
                            {
                                <option value="@type">@type</option>
                            }
                        </select>
                        <ValidationMessage For="@(()=>CurrentRule.Job)" class="text-danger"></ValidationMessage>
                        <small id="jobTypeHelp" class="form-text text-muted">@Localizer["Select quartz job to be scheduled"]</small>
                    </div>
                    <div class="form-group">
                        <label for="cronExpression">@Localizer["Cron expression"]</label>
                        <InputText type="text" class="form-control" @bind-Value="@CronRule.CronExpression" id="cronExpression" aria-describedby="cronExpressionHelp" placeholder="* * * * " />
                        <ValidationMessage For="@(()=>CronRule.CronExpression)" class="text-danger"></ValidationMessage>
                        <small id="cronExpressionHelp" class="form-text text-muted">@Localizer["Enter cron expression for job scheduling"] (<NavLink href="https://www.baeldung.com/cron-expressions" target="_blank">Example</NavLink>)<NavLink href="https://cronexpressiondescriptor.azurewebsites.net/" target="_blank">Descriptor</NavLink></small>
                    </div>
                    @if (CurrentRule.Job == JobType.Period)
                    {
                        <div class="form-group">
                            <label for="cronDelay">@Localizer["Delay"]</label>
                            <InputNumber type="number" class="form-control" @bind-Value="@CronRule.Delay" id="cronDelay" aria-describedby="cronDelayHelp" placeholder="" />
                            <ValidationMessage For="@(() => CronRule.Delay)" class="text-danger"></ValidationMessage>
                            <small id="cronDelayHelp" class="form-text text-muted">@Localizer["Enter delay for periodic job"]</small>
                        </div>
                    }
                    break;
            }
        </BSModalBody>
        <BSModalFooter>
            <BSButton Color="Color.Secondary" OnClick="@(() => RuleModal.Hide())">@Localizer["Cancel"]</BSButton>
            <BSButton Color="Color.Primary" type="submit">@Localizer["Save"]</BSButton>
        </BSModalFooter>
    </EditForm>
</BSModal>
